<div id="home-view" data-role="view" data-title="Halifax Gets it There" data-layout="main-layout"
     data-model="app.home.model">
    <div data-role="header">
        <div data-role="navbar">
            <span>Halifax Gets It There</span>
        </div>
    </div>
    <div data-role="content">
        <ul data-role="listview">
            <li><a data-bind="click: goAbout">The Port of Halifax</a></li>
            <li><a data-bind="click: goRoutes">See some routes</a></li>
            <li>Route Maps</li>
            <li>Ocean Transit Times</li>
            <li>Schedule-at-a-Glace</li>
            <li>Container Tracking</li>
            <li>Service Providers</li>
            <li>Daily Status Report</li>
        </ul>
    </div>
    
    <a data-role="button" data-bind="click: goAbout">About Us</a>
</div>
