<kendo-mobile-view id="home-view" k-title="'Halifax Gets it There'" k=layout="'main-layout'" ng-controller="homeController">
  <kendo-mobile-header>
    <kendo-mobile-nav-bar>
      <span>Halifax Gets it There</span>
    </kendo-mobile-nav-bar>
  </kendo-mobile-header>
  <kendo-mobile-content>
    <kendo-mobile-list-view>
      <li>
        <a ng-click="goAbout()">The Port of Halifax</a>
      </li>
      <li>
        <a ng-click="goRoutes()">See some routes</a>
      </li>
      <li>Route Maps</li>
      <li>Ocean Transit Times</li>
      <li>Schedule-at-a-Glace</li>
      <li>Container Tracking</li>
      <li>Service Providers</li>
      <li>Daily Status Report</li>
    </kendo-mobile-list-view>
  </kendo-mobile-content>
  <kendo-mobile-footer>
    <kendo-mobile-button>About Us</kendo-mobile-button>
  </kendo-mobile-footer>
</kendo-mobile-view>