<div id="about-view" data-role="view" data-title="About the Port" data-layout="main-layout" data-model="app.about.model">
    <ul data-role="listview">
        <li>Halifax is the closest North American container port with Europe, the Med and Suez Canal</li>
        <li>Cargo arrives at Halifax two days quicker than any other east coast port</li>
        <li>Imports from SE Asia, the Indian Subcontinent, the Med and North Europe arrive at destination quickly and reliably</li>
        <li>Efficient intermodal connections to our key inland markets in Central Canada and the US Midwest has cargo arriving up 5 days faster than via other port gateways</li>
        <li>Halifax has two container terminals and a capacity of 2.5 million TEUs</li>
        <li>Halifax has the deepest container berths on the entire east coast of North America – we can handle the largest container vessels</li>
        <li>Port infrastructure (including cranes, terminal capacity, on-dock rail) means that terminal dwell is among the lowest of all NA ports</li>
        <li>Halifax specializes in temperature-controlled cargo with 1,000 on-dock reefer plugs</li>
        <li>Halifax features ample transload, distribution and warehouse capacity within 15 minutes of the terminals</li>
        <li>Halifax has enjoyed decades of labor stability which makes us a preferred east coast diversion port</li>
        <li>Halifax has 18 container lines with regularly-scheduled service, serving over 150 countries worldwide</li>
    </ul>
</div>
